<div class="position-absolute top-50 start-50 translate-middle">
  <%= simple_form_for :search, url: search_path, method: "GET", html: { class: 'form-inline' } do |f| %>
    <%= f.input :q, label: 'Find a book' %>
    <%= f.input :field, as: :radio_buttons, collection: Book::FIELDS %>

    <%= f.submit "Search", class: "btn btn-primary" %>
  <% end %>
</div>
